/* app/ui/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-black {
    color: #000000; /* Define the custom class for text-black */
  }
}

/* Additional custom styles */
body.light {
  @apply bg-[#f5f5f5] text-black;
}

body.dark {
  @apply bg-[#121212] text-white;
}

header.light {
  @apply bg-[#6200ea] text-white;
}

header.dark {
  @apply bg-[#bb86fc] text-black;
}

button.light {
  @apply bg-[#03dac5] text-black;
}

button.dark {
  @apply bg-[#03dac5] text-white;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noselect {
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -khtml-user-select: none; /* Konqueror */
}

.star-animation {
  position: absolute;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  color: #ff0; /* Set color for the number */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make the number bold */
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* Remove background image */
  animation: starMove 1s linear;
}

.countdown-animation {
  position: absolute;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  color: #f00; /* Red color for the decrement */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Make the number bold */
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* Remove background image */
  animation: countdownMove 1s linear;
}

@keyframes starMove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes countdownMove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  height: 2rem; /* Set a fixed height for the ticker */
  display: flex;
  align-items: center;
}

.ticker {
  display: inline-block;
  padding-left: 100%;
  animation: ticker 15s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

 