# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# local env files
.env*.local
.env

# local logs
# Ignore the logs directory and its contents
logs/